<section>
    <div class="add-lecture-form">
        <header class="main-header">Add new lecture</header>
        <div class="data">
            <label for="title">Title:</label>
            <input type="text" id="title" placeholder="Lecture title..."/>
            <lable for="start">Start date and time:</lable>
            <input type="text" id="start" placeholder="2016-01-19T12:00:00">
            <lable for="end">End date and time:</lable>
            <input type="text" id="end" placeholder="2016-01-20T18:00:00">
        </div>
        <div class="panel">
            <button id="addLecture" class="button">Add</button>
            <a href="#/">
                <button class="button">Cancel</button>
            </a>
        </div>
    </div>
</section>