<div class="modal fade" id="events-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 style="color:white" id="hallName"><i class="fa fa-video-camera"></i> Lecture</h3>
            </div>
            <div class="modal-body" style="height: 320px" id="modal-body">
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" class="btn btn-default" id="editLecture">Edit</a>
                <a data-dismiss="modal" class="btn btn-default" id="deleteLecture">Delete</a>
                <a href="#" data-dismiss="modal" class="btn btn-default">Close</a>
            </div>
        </div>
    </div>
</div>
<section id="calendar"></section>
