<section id="viewArchiveSent">
    <h1>Archive (Sent Messages)</h1>
    <div class="messages" id="sentMessages">
        <table>
            <thead>
            <tr>
                <th>To</th>
                <th>Message</th>
                <th>Date Sent</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {{#messages}}
            <tr id={{_id}}>
                <td>{{sender_username}}</td>
                <td>{{text}}</td>
                <td>{{date}}</td>
                <td><button>Delete</button></td>
            </tr>
            {{/messages}}
            </tbody>
        </table>
    </div>
</section>